<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/demo.css">
  <link rel="stylesheet" href="{{ .cdn }}/merchant/latest/v1/css/default.css">
  <title>Checkout</title>
</head>
<body>
<p>Use this checkout page to test functionality of the checkout process using 3ds 2.0
   (<a href="{{ .httpLink }}">HTTP</a>/<a href="{{ .httpsLink }}">HTTPS</a>)</p>
<div class="row">
  <div class="col-75">
    <div class="container">
      <div class="row">
        <div class="col-50">
          <h3>Cart</h3>

          <label for="termsCheckBox">Accept Terms And Conditions
            <input type="checkbox" id="termsCheckBox" checked>
          </label>
          <label>
            Currency:
            <select id="currencySelector">
              <option>USD</option>
              <option>EUR</option>
              <option>GBP</option>
            </select>
          </label>
          <div class="row" id="cart">
            <div class="col-75">
              Nothing Added
            </div>
          </div>
          <!--GOOGLE PAY BUTTON-->
          <span data-chargehive="googlepayButton" button-type="short" button-color="black"></span>
          <!--APPLE PAY BUTTON-->
          <span data-chargehive="applepayButton"></span>
          <h3>Payment</h3>
          <div>
            <!--CARD PAYMENT OPTION-->
            <span capability="PLACEMENT_CAPABILITY_CARD_FORM">
              <label>
                <input type="radio" name="method" value="PLACEMENT_CAPABILITY_CARD_FORM"/>
                <span data-chargehive="cardMarks" highlight types="visa mastercard american-express"></span>
              </label>
              </span>
            <!--APPLE PAY OPTION-->
            <span capability="PLACEMENT_CAPABILITY_APPLE_PAY">
              <label>
                <input type="radio" name="method" value="PLACEMENT_CAPABILITY_APPLE_PAY"/>
                <span data-chargehive="applepayMark"></span>
              </label>
            </span>
            <!--GOOGLE PAY OPTION-->
            <span capability="PLACEMENT_CAPABILITY_GOOGLE_PAY">
              <label>
                <input type="radio" name="method" value="PLACEMENT_CAPABILITY_GOOGLE_PAY"/>
                <span data-chargehive="googlepayMark"></span>
              </label>
            </span>
            <!--PAYPAL PAYMENT OPTION-->
            <span capability="PLACEMENT_CAPABILITY_PAYPAL">
              <label>
                <input type="radio" name="method" value="PLACEMENT_CAPABILITY_PAYPAL"/>
                <span data-chargehive="paypalMark"></span>
              </label>
            </span>
            <!--DIRECT DEBIT PAYMENT OPTION-->
            <span capability="PLACEMENT_CAPABILITY_DIRECTDEBIT_FORM">
              <label>
                <input type="radio" name="method" value="PLACEMENT_CAPABILITY_DIRECTDEBIT_FORM"/>
                <span data-chargehive="directDebitMark"></span>
              </label>
            </span>
          </div>
          <!--CARD PAYMENT INPUT AREA-->
          <div class="row inputContainer" capability="PLACEMENT_CAPABILITY_CARD_FORM">
            <div class="col-75">
              <div id="total"></div>
              <label class="ch-field-label">Credit card number</label>
              <div class="ch-field-placeholder">
                <span data-chargehive="cardName"></span>
                <div class="ch-field-group ch-nowrap">
                  <span data-chargehive="cardBrand"></span>
                  <span data-chargehive="cardNum"></span>
                </div>
                <span data-chargehive="cardExp"></span>
                <span data-chargehive="cardCvv"></span>
              </div>
            </div>
          </div>
          <!--DIRECT DEBIT PAYMENT INPUT AREA-->
          <div class="row inputContainer" capability="PLACEMENT_CAPABILITY_DIRECTDEBIT_FORM">
            <div class="col-75">
              <label class="ch-field-label">Direct Debit</label>
              <div class="ch-field-placeholder">
                <span data-chargehive="accountName"></span>
                <span data-chargehive="accountNum"></span>
                <span data-chargehive="sortCode"></span>
                <span data-chargehive="payerReference"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span data-chargehive="verify" size="full"></span>
      <button id="doit" onclick="doIt()">Pay Now</button>
      <button onclick="changeColour()">Change Colour</button>
      <button id="doTokenize" onclick="doTokenize()">Tokenize</button>
    </div>
  </div>
  <div class="col-25">
    <!--SHOPPING CART-->
    <div class="container">
      <h4>Products <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h4>
      <p><a href="#" onclick="addToCart('Blue Widget',9.99)">Blue Widget</a> <span class="price">¤9.99</span></p>
      <p><a href="#" onclick="addToCart('Red Widget',12.99)">Red Widget</a> <span class="price">¤12.99</span></p>
      <p><a href="#" onclick="addToCart('Blue Thingy',7.50)">Blue Thingy</a> <span class="price">¤7.50</span></p>
      <p><a href="#" onclick="addToCart('Red Thingy',5.70)">Red Thingy</a> <span class="price">¤5.70</span></p>
    </div>
  </div>
  <div class="col-25">
    <!--CHARGEHIVE API CALLS-->
    <div class="container">
      <h4>Chargehive API Calls <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h4>
      <p><a href="#" onclick="chargeCancel('Blue Widget',9.99)">Cancel</a> <span class="price">¤9.99</span></p>
      <p><a href="#" onclick="chargeCapture('Red Widget',12.99)">Capture</a> <span class="price">¤12.99</span></p>
      <p><a href="#" onclick="chargeRefund('Blue Thingy',7.50)">Refund</a> <span class="price">¤7.50</span></p>
    </div>
  </div>
</div>
<iframe src="https://paymentauth.com/chargehive/card-numbers" class="chcards"></iframe>
<div id="card-templates">
  <table>
    <tr>
      <th colspan="4" class="provider">Paysafe</th>
    </tr>
    <tr>
      <th>Result</th>
      <th>Visa</th>
      <th>Mastercard</th>
      <th>American Express</th>
    </tr>
    <tr>
      <td>Success</td>
      <td class="test-card-number">4037<span class="cs"></span>1122<span class="cs"></span>3300<span class="cs"></span>0001
      </td>
      <td class="test-card-number">5100<span class="cs"></span>4000<span class="cs"></span>0000<span class="cs"></span>0000
      </td>
      <td class="test-card-number">3701<span class="cs"></span>2345<span class="cs"></span>6789<span class="cs"></span>017
      </td>
    </tr>
    <tr>
      <td>3ds2 Identify</td>
      <td class="test-card-number">4000<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1000
      </td>
      <td class="test-card-number">5200<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1005
      </td>
      <td class="test-card-number">3400<span class="cs"></span>0000<span class="cs"></span>0001<span class="cs"></span>007
      </td>
    </tr>
    <tr>
      <td>3ds2 Identify & Fail</td>
      <td class="test-card-number">4000<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1067
      </td>
      <td class="test-card-number">5200<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1047
      </td>
      <td class="test-card-number">-</td>
    </tr>
    <tr>
      <td>3ds2 Identify & Challenge</td>
      <td class="test-card-number">4000<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1091
      </td>
      <td class="test-card-number"></td>
      <td class="test-card-number">3400<span class="cs"></span>0000<span class="cs"></span>0001<span class="cs"></span>098
      </td>
    </tr>
    <tr>
      <td>3ds2 Identify & Challenge & Fail</td>
      <td class="test-card-number">-</td>
      <td class="test-card-number">5200<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1104
      </td>
      <td class="test-card-number">-</td>
    </tr>
    <tr>
      <td>3ds1 Challenge</td>
      <td class="test-card-number">4000<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>0002
      </td>
      <td class="test-card-number">5200<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>0007
      </td>
      <td class="test-card-number">3400<span class="cs"></span>0000<span class="cs"></span>0003<span class="cs"></span>961
      </td>
    </tr>
    <tr>
      <th colspan="4" class="provider">Braintree (Expiry: 01/20**)</th>
    </tr>
    <tr>
      <th>Result</th>
      <th>Visa</th>
      <th>Mastercard</th>
      <th>American Express</th>
    </tr>
    <tr>
      <td>Success</td>
      <td class="test-card-number">4000<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1000
      </td>
      <td class="test-card-number">5200<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1005
      </td>
      <td class="test-card-number">3400<span class="cs"></span>0000<span class="cs"></span>0001<span class="cs"></span>007
      </td>
    </tr>
    <tr>
      <td>Reject</td>
      <td class="test-card-number">4000<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1018
      </td>
      <td class="test-card-number">5200<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1013
      </td>
      <td class="test-card-number">3400<span class="cs"></span>0000<span class="cs"></span>0001<span class="cs"></span>015
      </td>
    </tr>
    <tr>
      <td>Bypass</td>
      <td class="test-card-number">4000<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1083
      </td>
      <td class="test-card-number">5200<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1088
      </td>
      <td class="test-card-number">3400<span class="cs"></span>0000<span class="cs"></span>0001<span class="cs"></span>080
      </td>
    </tr>
    <tr>
      <td>3ds2 Success</td>
      <td class="test-card-number">4000<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1091
      </td>
      <td class="test-card-number">5200<span class="cs"></span>0000<span class="cs"></span>0000<span class="cs"></span>1096
      </td>
      <td class="test-card-number">3400<span class="cs"></span>0000<span class="cs"></span>0001<span class="cs"></span>098
      </td>
    </tr>
  </table>
</div>


<!-- Chargehive JS -->
<script src="{{ .cdn }}/merchant/latest/v1/js/chargehive.min.js"></script>
<script>
  ChargeHive.initialize(
    '{{ .placementToken }}', // your placement token
    '{{ .projectID }}', // your project id
    {"currency": "{{ .currency }}", "country": "{{ .country }}"} //additional options
  );
</script>
<!-- Chargehive events -->
<script src="static/index.js"></script>
<!-- Webhooks js-->
<script src="static/webhooks.js"></script>

</body>
</html>
